// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 1.4rem;
}
.navbar {
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 55px;
}
.navbar + main {
    position: relative;
    z-index: 0;
    margin-top: 55px;
}

#post-index {
    &.admin {

    }
}
#post-create {
    &.admin {
        // .is-invalid ~ .invalid-feedback {
        //     display: inline-block;
        //     width: auto;
        // }

        .u-errorWrapper {
            position: relative;
            .a-Error {
                position: absolute;
                display: inline-block;
                width: auto;
                right: 0;
                
            }
        }
    }
}

$area1: 24px;
$area2: 40px;
$area3: 80px;
.u-Above1 {
    > * {
        margin-top: $area1;
    }
}
.u-Above2 {
    > * {
        margin-top: $area2;
    }
}

.u-Above3 {
    > * {
        margin-top: $area3;
    }
}

.u-Below1 {
    > * {
        margin-bottom: $area1;
    }
}

.u-Below2 {
    > * {
        margin-bottom: $area2;
    }
}

.u-Below3 {
    > * {
        margin-bottom: $area3;
    }
}



.c-PostList {
    overflow: hidden;
    .a-Link {
        position: relative;
        text-align: center;
        display: inline-block;
        &:after {
            content: "";
            display: inline-block;
            background: #3490dc;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 1px;
            width: 100%;
            transform: scaleX(0);
            transition-property: transform;
            transition-duration: .2s;
        }
        &:hover {
            text-decoration: none;
            &:after {
               transform: scaleX(1);
               transition-property: transform;
               transition-duration: .2s;    
            }
        }
    }
    .a-Txt {
        height: 60px;
    }
}

